$buttonBorderRadius: 5px;

$colorTextAccent: #fff;
$colorPrimary: #0087EF;
$colorSecondary: #0088CA;
$colorBackgroundPrimary: #fafafa;
$colorBackgroundSecondary: #fff;
$colorTextPrimary: #545C68;
$colorTextSecondary: #9DAABD;
