<div class="sidebar-container">
  <div class="sidebar-container__web-image">
    <img src="/assets/img/nicebeauty.com_eu.png" class="cobiro-web-image">
    <p class="sidebar-container__web-image-title">hairstylist.com</p>
  </div>
  <div class="sidebar-container__menu">
    <app-button-text color="transparent">{{'Marketing Plan'}}</app-button-text>
    <app-button-text color="transparent">{{'Dashboard'}}</app-button-text>
    <app-button-text color="transparent">{{'My Ads'}}</app-button-text>
    <app-button-text color="transparent">{{'Analitics'}}</app-button-text>
    <app-button-text color="transparent">{{'Cobiro Store'}}</app-button-text>
  </div>
</div>
